body{
    margin: 0 auto;
    max-width: 1280px;
}
article {
    align-items: center;
    background-color: rgb(245, 246, 247);
}
ul {
    list-style: none;  
    text-align: center;
}
.navigation{
    text-decoration: none;
    text-align: center;
    display: block;
    color:  #16a085;
    font-size: 18px;
    
}
li{
    display: inline-block;
    padding: 8px 32px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    color:  #16a085;
    font-size: 18px;
    text-align: left;
    font-weight: 900;
    
}
img{
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;
}
h2 {
    margin: 1% auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    
    
}
p{
    margin: 1% auto;
    width: 80%;
    text-align: center;
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
}
button {
    margin: 2% 42% 6% 43%;
    border: none;
    border-radius: 4px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    display: inline-block;
    text-align: center;

}
.buttonref{
    font-family: GothamRounded;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}
h3{
    display: inline-block;
    margin-left: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    
}